<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link href="/css/override.css" rel="stylesheet" type="text/css">
  {%- feed_meta -%}
  <!-- Load custom JavaScript files set in YAML front matter -->
  {% for js in page.customjs %}
  <script async type="text/javascript" src="{{ js }}"></script>
  {% endfor %}
  <!-- Load slider styles and scripts -->
  {% include slider_styles.html %}
  {% include slider_scripts.html %}
</head>
